<div class=" " >
    <div class="row" style="height: 100vh;">
        <div class="col-md-6 bgcolor middle">
           
            <div class="d-flex justify-content-center" >
                <img class="landingimg" src="../../assets/landingpage.png">
            </div>
           
        </div>
        <div class="col-md-6 bgcolor middle">
            <div class="justifyaround">
                <div class="box  ">
                    <div class="middle">
                        <img src="../../assets/form1.png" class="formimg"  style="width: 140px;height: 180px;border-radius: 15px;">
                    </div>
                    <div class="d-flex justify-content-center">
                        <h4 class="d-flex justify-content-center" style="color:#2EB47B">
                            List View
                        </h4>
                   
                    </div>
                </div>
                <div class="box  ml-5">
                    <div class="middle">
                        <img src="../../assets/form.png" class="formimg" style="width: 140px;height: 180px; border-radius: 15px;border-color: #1F7C55;">
                    </div>
                    <h4 class="d-flex justify-content-center" style="color:#2EB47B">Form</h4>
                   
                </div>
            </div>
        </div>
    </div>

</div>