
<div class=" section bgsecondary middle" >
    <div class="row ">
      <div class="col-md-8">
     
      <div class="memberssect" >
        
        <div class="d-flex">
        <button [routerLink]="['/']" class="mr-3 backbtn">Back</button>
        <button (click)="sortby()" class="sortbynamebtn">Sortby Name</button>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="lightcolor" >No.</th>
                <th scope="col" class="lightcolor">Name</th>
                <th scope="col" class="lightcolor">Gender</th>
                <th scope="col" class="lightcolor">Email</th>
                <th scope="col" class="lightcolor">Mobile</th>
                <th scope="col" class="lightcolor">Message</th>
                
              </tr>
              
            </thead>
            <tbody>
              <tr *ngFor="let item of dataSource">
                <th scope="row" class="lightcolor">{{ item.id }}</th>
                <td class="lightcolor">{{ item.name | titlecase }}</td>
                <td class="lightcolor">{{ item.gender }}</td>
                <td class="lightcolor">{{ item.email }}</td>
                <td class="lightcolor">{{ item.mobile }}</td>
                <td class="lightcolor">{{ item.message }}</td>
              </tr>
             
             
            </tbody>
          </table>
          
          



  
     
 
    
      </div>
      </div>
      <div class="col-md-4">
    
    

    <div class=" border-pie">
      <div style="display: block; margin-top: 2rem;">
        <canvas baseChart 
          [data]="pieChartData" 
          [labels]="pieChartLabels" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>

    </div>
    </div>
    </div>